include LICENSE
include requirements.txt
include setup.py
include documentation/*.rst

recursive-include FEDI/Sampling_Scheme *.dvs
recursive-include FEDI/models *.py
recursive-include FEDI/pipelines/HAITCH *.py
